@using TestingSystem.Model;
@model Theme
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}




    <ul>@Model.Title
        @foreach (var test in Model.Tests)
        {
            <li>@test.Name</li>
        }
    </ul>


