@model List<TestingSystem.Model.Test>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Main page";
}


<div class="container-fluid p-2" style="background-color: #eee; min-height: 91%">
	<div class="container">
		<div class="card-deck justify-content-center">
			@for (int i = 0; i < Model.Count; i++)
			{
				<div class="card text-center m-4 border-secondary card-width">
					<div class="card-img-top pt-2" style="height: 150px;">
						<img style="max-height: 100%; max-width: 100%;" src="@Url.Action("GetImage", "Test", new { id = Model[i].Id})">
					</div>
					<div class="card-body">
						<h5 class="card-title" style="color: #008CBA;">@Model[i].Name</h5>
						<div class="card-text">
							<span style="color: #42A5F5;">Count questions - @(Model[i]?.Questions.Count) <br />
								Time - @Model[i].Duration</span>
						</div>
					</div>
					<a class="btn btn-primary" href="/Home/Test/@Model[i].Id" style="border-radius: 0; background-color: #008CBA;">
						<span style="color: white;">GO</span>
					</a>
				</div>
			}
		</div>
	</div>
</div>