@using TestingSystem.Model;
@model IEnumerable<Theme>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Список тем:</h2>
<ul>
    @foreach (var theme in Model)
    {
        <li>@theme.Title</li>
    }
</ul>

