@using TestingSystem.Model;
@model IEnumerable<Theme>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


@foreach (var theme in Model)
{
    <ul>@theme.Title
        @foreach (var test in theme.Tests)
        {
            <li>@test.Name</li>
        }
    </ul>
}


