@model List<TestingSystem.Model.Theme>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main page";
}


<div class="container">
    @{
        for (int i = 0; i < Model.Count; i += 2)
        {
            <div class="row">
                <div class="col-md-6">
                    <ul>@Model[i].Title
                        @foreach (var test in Model[i].Tests)
                        {
                            <li>@Html.ActionLink(test.Name, "Test", new { id = test.Id })</li>
                        }
                    </ul>
                </div>
                @if (i < Model.Count - 1)
                {
                    <div class="col-md-6">
                        <ul>@Model[i + 1].Title
                            @foreach (var test in Model[i + 1].Tests)
                            {
                                <li>@Html.ActionLink(test.Name, "Test", new { id = test.Id })</li>
                            }
                        </ul>
                    </div>
                }
            </div>   
        }
    }
</div>
